@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: Outfit ;
}
body{
    background: #fff;
    text-align: center;
    font-family: Outfit;
    min-height: 100vh;
}
.logo{
    margin-top: 20px;
}
.sign_in_container{
    max-width: 350px;
    border: 1px solid #d2d2d2;
    margin: auto;
    margin-top: 20px;
    padding: 20px 27px;
    border-radius: 8px;
    text-align: left;
}
.sign_in_title{
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0;
}

.sign_in_container input{
    width: 100%;
    height: 32px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
}
.sign_in_container .input_title{
    font-weight: 500;
}
.sign_in_container input:focus{
    outline: 3px solid #c2f2ff;
}
.sign_in_container button{
    width: 100%;
    height: 32px;
    border-radius: 8px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    background: #ffd814;
}
.sign_in_container button:hover{
    background: #ebc712;
}
.sign_in_container .term_condition{
     font-size: 12px;

}

.term_condition a{
   color: #0066c0;
   text-decoration: none;
}
.help{
    font-size: 13px;
    margin: 20px 0;
    color: #0066c0;
}
.sign_in_container hr{
    border: none;
    height: 1px;
    background: #d4d4d4;
}
.sign_in_container h4{
    margin: 15px 0;
    font-size: 13px;
}
.sign_in_bis{
    font-size: 13px;
    color: #0066c0;
    text-decoration: none;
}
.sign_in_bottom{
    width: 350px;
    font-size: 13px;
    color: #737373;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_in_bottom hr{
    border: none;
    height: 1px;
    width: 110px;
    background: #d4d4d4;
}
.sign_up_btn{
    width: 350px;
    height: 30px;
    font-size: 13px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #c3c3c3;
}
.sign_up_btn:hover{
    background: #f1f1f1;
    cursor: pointer;
}

/* footer CSS */

footer{
    width: 100%;
    height: 30%;
    max-height: 200px;
    margin-top: 20px;
    padding: 20px 0;
    position: fixed;
    bottom:  0;
    background: linear-gradient(to bottom ,#f4f4f4,#fff);
    border: 2px solid #ededed;
    font-size: 12px;
}
.footer_links{
    display: flex;
   flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.footer_links_a{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
.footer_links_a a{
    text-decoration: none;
    color: #0066c0;
}